*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/1.jpg);
  font-family: "Titillium Web", sans-serif;
  background-repeat: no-repeat !important;
  height: 100% !important;
  background-position:  bottom  !important;
  background-size: cover;
}

.navbar {
  background-color: #24353f3e !important;
}

.logName {
  background-color: #24353f48 !important;
  transform: translateY(50%);
}

input::placeholder,
textarea::placeholder {
  color: rgb(182, 182, 182) !important;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 0 0 transparent !important;
}

.group {
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1) !important;
}
.group .SingUp:hover {
  text-decoration: underline !important;
}

.group .SignIn:hover {
  text-decoration: underline !important;
}

.group .Login:hover {
  color: #fff !important;
}


.navbar .LogOut{
  
  position: absolute !important;
  right: 10% !important;
  top: 13% !important;
}

.loader {
  width: 48px;
  height: 48px;
  background: #fffdfd;
  display: block;
  margin: 20px auto;
  position: relative;
  box-sizing: border-box;
  animation: rotationBack 1s ease-in-out infinite reverse;
}

.loader::before {
  content: '';
  box-sizing: border-box;
  left: 0;
  top: 0;
  transform: rotate(45deg);
  position: absolute;
  width: 48px;
  height: 48px;
  background: #eeeeee;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.loader::after {
  content: '';
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  background: rgb(129, 32, 32);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px rgba(14, 14, 14, 0.859);
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}


.loader2 {
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
}

.loader2:before {
  content: '';
  width: 48px;
  height: 5px;
  background: #0c0c0c61;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader2:after {
  content: '';
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {

  0%,
    100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}